Data Types and Structures Questions

1)	What are data structures, and why are they important  ?
-	A data structure is a way of organizing and storing the data. They are important so that the data can be accessed and modified.

2)	Explain the difference between mutable and immutable data types with examples.
-	Mutable data type structure means the datatype structure can be changed.
-	Ex –
List=[a,b,c,d]
The elements in the list can be changed
List[0]= “e”

Immutable data type means we cannot change anything in the data

Ex- name= “Shanu”
We cannot change anything in this datatype after it is created

Name[0]= “Shanu” will give an error

3)	 What are the main differences between lists and tuples in Python.

-	List is and mutable datatype where as tuple is an immutable datatype
-	Syntax – list syntax is list=[a,b,c]
-	Sytax for tupple is tp= (1,2,3)

4)	Describe how dictionaries store data
Dictionaries store the data in key and a value pair
Ex – dict= {“student”: “Atul”, “age”:10}

5)	Why might you use a set instead of a list in Python?

6)	What is a string in Python, and how is it different from a list?

-	String is the sequence of the characters  example – “Pw Skills” which can be used to create dictionaries, list or any data type. Whereas list is the collection of any datatype and string can be used to create a list

7)	 How do tuples ensure data integrity in Python?

8)	What is a hash table, and how does it relate to dictionaries in Python?

9)	Can lists contain different data types in Python ?

-	Yes list can contain different data types in python
Ex- lst= [42, "hi", 4.1, True,]

10)	 Explain why strings are immutable in Python ?

11)	What advantages do dictionaries offer over lists for certain tasks?

-	Dictionaries allow access to some data by their keys and values where as lists are used where we need to iterate or update the data stored.

12)	Describe a scenario where using a tuple would be preferable over a list?

13)	How do sets handle duplicate values in Python?

-	Sets automatically handle the duplicate value by ignoring the new duplicated value in the set as it ignores the new value and count the original one

14)	How does the “in” keyword work differently for lists and dictionaries?
-	“in” keyword in list – check for the member present in the list or not
-	“in” keyword in dictionaries – check for the member present by the key

15)	What is a nested dictionary, and give an example of its use case?
-	A nested dictionary is a dictionary where the values can themselves be dictionaries. It is list dictionary within a dictionary
-	Ex - dict = {
    "Student_1": {"name": "Atul", "age": 30, "city": "Delhi"},
    "Student_2": {"name": "Ajay", "age": 25, "city": "Gurugram"},
    "Student_3": {"name": "Chetan", "age": 35, "city": "Himachal"}
}

16)	Describe the time complexity of accessing elements in a dictionary?
  -



17)	In what situations are lists preferred over dictionaries.

-	We need list in case where the items are stored in ordered when its created.
-	In case where we allow the duplicate values in the data like and where the data can be appended.

18)	Why are dictionaries considered unordered, and how does that affect data retrieval?
-


19)	Explain the difference between a list and a dictionary in terms of data retrieval.

-

In [2]:
## Practical Practical Questions ###

# 1) Write a Python program to print "Hello, World!

print("Hello World")

Hello World

In [25]:
#2) Write a code to find the length of the string "Hello World"

str= "Hello World"
print(len(str))

11

In [26]:
#Write a code to slice the first 3 characters from the string "Python Programming"

word="Python Programming"

print(word[0:3])

Pyt

In [28]:
#3) Write a code to convert the string "hello" to uppercase

word="hello"
print(word.upper())

HELLO

In [29]:
# 4) prompt: (P Write a code to replace the word "apple" with "orange" in the string "I like apple"P

string="I like apple"
print(string.replace("apple","orange"))

I like orange

In [30]:
# 5) prompt: Write a code to create a list with numbers 1 to 5 and print it

my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [31]:
# 6) Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [33]:
#7)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [34]:
# 8 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
list[1]

'b'

In [46]:
# 9 Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10, 20, 30, 40, 50]
list.reverse()
list

30

In [48]:
# 10 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpple=(100,200,300)
tpple

(100, 200, 300)

In [53]:
# 11 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tpple=('red', 'green', 'blue', 'yellow')
tpple[2]

'blue'

In [56]:
#12 Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tpple=(10, 20, 5, 15)
print(min(tpple))

5

In [58]:
#13 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')


tpple=('dog', 'cat', 'rabbit')

tpple.index('cat')

1

In [60]:
 # 14 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=("apple","banana","kiwi")

if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [62]:
#15 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

tpple=('a', 'b', 'c')
tpple

('a', 'b', 'c')

In [67]:
# 16 Write a code to clear all elements from the set {1, 2, 3, 4, 5}

st={1, 2, 3, 4, 5}
print(st.clear())

None

In [69]:
 # 17 Write a code to remove the element 4 from the set {1, 2, 3, 4}

st={1, 2, 3, 4, 5}
st.remove(4)
st

{1, 2, 3, 5}

In [73]:
# 18 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

st_1={1,2,3}
st_2={3, 4, 5}

print(st_1.union(st_2))
# or
print(st_1 | st_2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [74]:
# 19 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
st_1={1,2,3}
st_2={2,3,4}

intersection = st_1 and st_2
print(intersection)

{2, 3, 4}

In [79]:
#20Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict_1={
"name":"Atul",
"age":20,
"city":"Delhi"
}

dict_1

{'name': 'Atul', 'age': 20, 'city': 'Delhi'}

In [83]:
#21#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict_1={
'name': 'John',
'age': 25
}

dict_1.update({"country":"USA"}) # to add new pair of key value
dict_1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [84]:
# 22 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict_1={
'name': 'Alice',
'age': 30
}

dict_1['name']

'Alice'

In [86]:
 #23 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict_1={'name': 'Bob', 'age': 22, 'city': 'New York'}

dict_1.pop("age")
dict_1

{'name': 'Bob', 'city': 'New York'}

In [87]:
# 24 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dict_1={'name': 'Alice', 'city': 'Paris'}

if "city" in dict_1:
    print("city is present")
else:
    print("city is not present")

city is present

In [90]:
# 25 Write a code to create a list, a tuple, and a dictionary, and print them all.
list_1=[1,2,3]
tuple_1=(5,6,7)
dict_1={
"name":"Atul",
"age":20,
"city":"Delhi"
}

print(list_1)
print(tuple_1)
print(dict_1)

[1, 2, 3]
(5, 6, 7)
{'name': 'Atul', 'age': 20, 'city': 'Delhi'}

In [ ]:
#26 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [91]:
# Write a code to create a list with strings and print the element at the third index

list_1=["Atul","Ajay","Chetan"]
list_1[2]

'Chetan'

In [92]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries using the unpacking operator (Python 3.5+)
combined_dict = dict1 | dict2

# Print the combined dictionary
print("Combined Dictionary:")
print(combined_dict)

Combined Dictionary:
{'a': 1, 'b': 2, 'c': 3, 'd': 4}